<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ResolveEscapes" value="1" />
    <!-- Resolve escape codes in strings and atoms.
         The C# standard is followed:
         \' - single quote, needed for character literals
         \" - double quote, needed for string literals
         \\ - backslash
         \0 - Unicode character 0
         \a - Alert (character 7)
         \b - Backspace (character 8)
         \f - Form feed (character 12)
         \n - New line (character 10)
         \r - Carriage return (character 13)
         \t - Horizontal tab (character 9)
         \v - Vertical quote (character 11)
         \uxxxx - Unicode escape sequence for character with hex value xxxx
         \xn[n][n][n] - Unicode escape sequence for character with hex value nnnn
                        (variable length version of \uxxxx)
         \Uxxxxxxxx - Unicode escape sequence for character with hex value xxxxxxxx
                      (for generating surrogates)
         - Superfluous \'s are ignored, e.g. \p => p
         - If ResolveEscapes is "0", escape codes are not interpreted and a " in a
           string must be entered as ""
    -->
    <add key="NewlineInStringAllowed" value="1" />
    <add key="VerbatimStringsAllowed" value="1" />
    <add key="DiscontiguousAllowed" value="0" />
    <add key="HistorySize" value="40" /> <!-- if <= 0: do not save between sessions -->
    <add key="DoOccursCheck" value="0" />
    <add key="CSharpStrings" value="1" /> <!-- 0 for ISO-standard strings as character code lists -->
    <add key="OnErrorShowStackTrace" value="1" />
    <add key="InitialConsultFile" value="initial_consult.pl" />
    <add key="CsPrologHelpFile" value="CsPrologHelp.txt" />
    <add key="DefaultDateTimeFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="AnswerFalse" value="no" />
    <add key="AnswerTrue" value="yes" />
    <add key="WorkingDirectory" value="" /> <!-- any path, or %desktop or %exedir (default) -->
    <!-- minimum number of unifications for a cacheable predicate before it is actually cached: -->
    <add key="UnifyCountCacheThreshold" value="100" />

    <!-- The key/value-pairs below are used by sql_connect( Key, <list of connection parameters>).
         The connection parameters correspond with the expected values in the value part placeholders.

         !!! Not all connection strings have been tested !!!
         For connection strings, see for instance http://www.connectionstrings.com.
    -->

    <!-- MS-Access -->
    <add key="msaccess" value="System.Data.OleDb|Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}" />

    <!-- Excel HDR=Yes|No, depending on if you want to include the top row of the range -->
    <add key="excel" value="System.Data.OleDb|Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1};IMEX=1'" />

    <!-- MySql -->
    <add key="mysql" value="System.Data.MySqlClient|Server={0};Database={1};Uid={2};Pwd={3};" />

    <!-- SQLServer 2005 (trusted connection, local host) -->
    <add key="sqlserver" value="System.Data.SqlClient|Data Source=localhost;Initial Catalog={0};Integrated Security=SSPI;" />

    <!-- SQLServer 2005 (trusted connection, non-local) -->
    <add key="sqlserver2" value="System.Data.SqlClient|Server={0};Database={1};Trusted_Connection=True;" />

    <!-- Oracle (trusted connection) -->
    <add key="oracle" value="System.Data.OracleClient|Data Source=TORCL;Integrated Security=SSPI;" />

    <!-- Oracle -->
    <add key="oracle2" value="System.Data.OracleClient|Data Source={0}/{1}@{2}//{3};" />

    <!-- DB2 -->
    <add key="db2" value="IBM.Data.DB2|Server={0}:{1};Database={2};UID={3};PWD={4};" />

    <!-- Sybase (trusted connection) -->
    <add key="sybase" value="Sybase.Data.AseClient|Data Source={0};Initial Catalog={1};Trusted_Connection=Yes" />

    <!-- Firebird -->
    <add key="firebird" value="FirebirdSql.Data.FirebirdClient|User={0};Password={1};Database={2};DataSource=localhost; Port=3050;Dialect=3;
    Charset=NONE;Role=;Connection lifetime=15;Pooling=true; MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;ServerType=0;" />

  </appSettings>
</configuration>